.container{
  overflow-x: auto;
  width: 500px;
  position:relative;
}

.container-wrap {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}

.btnArrow {
  position: absolute;
  top: 0px;
  width: 30px;
  height: 100px;
  opacity: 0.5;
  background-color: #fff;
  border: none;
}

.leftBtn {
  left: 0;
}

.rightBtn {
  right: 0;
}

.boxWrap{
  display:flex;
}
.box{
  width: 200px;
  height:100px;
  margin: 10px;
}